/* ===== Google Font Import - Poppins ===== */
@import url("https://cdn.jsdelivr.net/npm/cooltipz-css@2.3.1/cooltipz.css");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* letter-spacing: 0.5px; */
}
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #5dee86;
  --panel-color: #0d0d0d;
  --text-color: #fff;
  --black-light-color: #707070;
  --border-color: #1c1f24;
  --toggle-color: #ddd;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  /* min-height: 100vh; */
  background-color: var(--panel-color);
  color: var(--text-color);
  /* overflow: hidden; */
  font-weight: 400;
}
svg {
  width: 20px;
  height: 20px;
  color: #3c4047;
}
.btn {
  background-color: #5533ff; /* Nice blue color */
  color: #fff; /* White text */
  font-size: 12px;
  font-weight: 600;
  padding: 11px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  background-color: #4e2fe6;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1c1f24;
}
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.dashboard {
  /* position: relative; */
  /* left: 250px; */
  background-color: var(--panel-color);
  /* min-height: 100vh; */
  /* width: calc(100% - 250px); */
  /* padding: 10px 14px; */
  transition: var(--tran-05);
}
.dashboard .top {
  /* position: fixed;
  top: 0; */
  /* left: 250px; */
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 20px 30px; */
  background-color: #0d0d0d;
  transition: var(--tran-05);
  /* z-index: 10; */
  /* border-bottom: 1px solid #1e2127; */
}
.dashboard .bottom-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboard .bottom {
  /* position: fixed;
  top: 0; */
  /* left: 250px; */
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 20px 30px; */
  background-color: #0d0d0d;
  transition: var(--tran-05);
  /* z-index: 10; */
  /* border-bottom: 1px solid #1e2127; */
}
.dashboard .bottom .left{
  margin-left: 20px;
}
.dashboard .logo_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  border-bottom: 1px solid #1c1f24;
  padding: 15px 0px 15px 0px;
}
.dashboard .logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard .logo-image {
  display: flex;
  justify-content: center;
  min-width: 35px;
}
.dashboard .logo-image svg {
  width: 35px;
  height: auto;
  /* object-fit: fill; */
  /* color: #332288; */
  /* width: 100%; */
}
.dashboard .logo-image svg path {
  fill: #5533ff;
}

.dashboard .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}
/* .dashboard .logo_name {
  opacity: 0;
  pointer-events: none;
} */
.dashboard .top .right {
  /* background-color: #c40f0f; */
  width: 100%;
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-between;
}
.dashboard .top .right .logo_holder {
  /* background-color: #c40f0f; */
  /* width: 100%; */
  margin-top: 15px;
}
.dashboard .top .right .invoice_card {
  width: 300px;
  /* margin-top: 30px; */
  height: 175px;
}
.dashboard .top .right .invoice_card .card-body {
  padding: 20px;
  border-radius: 0px 80px 80px 0px;
  height: inherit;
  border: 1px solid #2f343d;
  border-left: none;
}
.dashboard .top .right .invoice_card .card-body h5 {
  font-weight: 500;
}
.dashboard .top .right div {
  /* margin-bottom: 25px; */
  /* margin-left: 10px; */
}
.dashboard .top .left div {
  /* margin-bottom: 25px; */
  /* margin-right: 10px; */
}
.dashboard .top .right .shipping_card {
  min-width: 300px;
  height: 175px;
  margin-right: 15px;
}
.dashboard .top .right .shipping_card .card-body {
  padding: 15px 20px;
  border-radius: 10px 10px 10px 10px;
  height: inherit;
  text-align: end;
  background: #0d0d0d;
}
.dashboard .top .right .shipping_card .card-body h5 {
  font-weight: 500;
}
.dashboard .top .left .billing_card {
  min-width: 300px;
  height: 175px;
  margin-left: 15px;
}
.dashboard .top .left .billing_card .card-body {
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  height: inherit;
  background: #0d0d0d;
}
.dashboard .top .left .billing_card .card-body h5 {
  font-weight: 500;
}
.dashboard .top .left .invoice_card {
  min-width: 300px;
  height: 175px;
}
.dashboard .top .left .invoice_card .card-body {
  padding: 20px;
  border-radius: 80px 0px 0px 80px;
  height: inherit;
  border: 1px solid #2f343d;
  border-right: none;
  text-align: end;
}
.dashboard .top .left .invoice_card .card-body h5 {
  font-weight: 500;
}
.dashboard .bottom .right .payment_card {
  width: 300px;
  height: 180px;
}
.dashboard .bottom .right .payment_card .card-body {
  padding: 20px;
  border-radius: 10px 10px 30px 10px;
  height: inherit;
  border: 1px solid #2f343d;
}
.dashboard .bottom .right .payment_card .card-body h5 {
  font-weight: 500;
}
.dashboard .bottom .left .term_card {
  width: 100%;
  height: 180px;
}
.dashboard .bottom .left .term_card .card-body {
  padding: 20px;
  border-radius: 10px 10px 30px 10px;
  height: inherit;
  border: 1px solid #2f343d;
}
.dashboard .bottom .left .term_card .card-body h5 {
  font-weight: 500;
}
.card-title {
  /* text-align: end; */
  margin-bottom: 15px !important;
}
.dashboard .top .left {
  width: 100%;
  display: flex;
  /* background-color: #1d8ec6; */
  /* width: 50%; */
  justify-content: space-between;
  border-left: 2px solid #1c1f24;
}
.top ul {
  display: flex;
  justify-content: right;
}
.top ul li {
  list-style: none;
  font-size: 12px;
  margin-left: 5px;
}
.top ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  /* width: 96px;
  height: 31px; */
}
.top .logo-name {
  display: flex;
  align-items: center;
}
.top .logo-image {
  display: flex;
  justify-content: center;
}
.top .logo-image svg {
  min-width: 35px;
  max-width: 40px;
  width: 100%;
  height: auto;
  /* object-fit: fill; */
  /* color: #332288; */
  /* width: 100%; */
}
.top .logo-image svg path {
  fill: #5533ff;
}
.top .logo-name .logo_name {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 12%;
  transition: var(--tran-05);
}

.dashboard .dash-content {
  padding: 10px 0px;
  /* margin-bottom: 40px; */
  width: 100%;
  justify-content: center;
  display: flex;
}
.card {
  width: 100%;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  background-color: #171717;
}
.card-body {
  padding: 15px;
}
.data-holder {
  display: flex;
  width: 80%;
  justify-content: center;
  padding: 0px 8px;
}
.leftbar {
  /* direction: ltr; */
  width: 90%;
  border-top: 2px solid #1c1f24;
  border-bottom: 2px solid #1c1f24;
  padding-top: 10px;
  padding-bottom: 35px;
}
.rightbar {
  /* direction: ltr; */
  width: 10%;
  border-top: 2px solid #1c1f24;
  border-bottom: 2px solid #1c1f24;
  padding-top: 10px;
  padding-bottom: 35px;
}
.product-card {
  /* background-color: #171717; */
  border: 2px solid #171717;
  /* padding-bottom: 15px; */
  border: none;
  margin-top: 25px;
}
.product-card .card-body {
  padding: 0px;
}
.product-card button svg {
  fill: #fff !important;
  stroke-width: 0.5px;
  stroke: #ffffff;
  height: 16px;
}
.product-card button {
  background-color: #5533ff;
  color: #fff !important;
  padding: 5px 10px;
}
.product-card button:hover {
  background-color: #5533ff;
  color: #fff !important;
}
.product-card-img {
  width: 100%;
  cursor: pointer;
  height: 100%;
  /* border: 1px solid #dbdbdb; */
  /* padding: 8px; */
  /* margin-right: 24px; */
  /* display: flex
    ; */
  /* justify-self: center; */
  /* background-color: #e7e7e7; */
  background-color: #0d0d0d;
  /* margin-top: 15px; */
  border-radius: 10px 0px 0px 10px;
}
.product-card-img img {
  height: 60px;
  width: 60px;
  border-radius: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e7e7e7;
  margin: 10px 0px 0px 10px;
}
.product-card-main {
  display: grid;
  /* grid-template-columns: 8% 82% 10%; */
  grid-template-columns: 8% 83% 9%;
  align-items: start;
  transition: grid-template-columns 0.3s ease-in-out;
  border: 2px solid #1c1f24;
  border-radius: 10px;
  background-color: #1c1f24;
}
.product-card-content {
  background-color: #0d0d0d;
  /* display: none; */
  /* margin-top: 15px; */
  /* position: relative; */
  border-radius: 0px 15px 15px 0px;
  width: 100%;
  height: 100%;
  padding: 10px 5px 0px 5px;
}

.product-card-main:hover {
  grid-template-columns: 8% 74% 18%;
}
.product-card-main .card-title {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  text-align: left;
}
.card-sub-left {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: 10px 0px 0px -30px;
  /* transform: translateY(2px); */
}
.card-sub-left-badge {
  background: #e7e7e7;
  color: #5533ff;
  padding: 3px 10px 3px 18px;
  border-radius: 12px 7px 7px 6px;
  margin-left: -12px;
  font-weight: bold;
  font-size: 9px;
  font-family: "Inter", sans-serif;
  height: 18px;
}
.card-sub-left ul {
  display: flex;
  list-style: none;
  margin-top: 5px;
  padding: 0;
}
.card-sub-left ul li {
  margin: 0px;
  cursor: pointer;
  display: flex;
}
.card-sub-left ul li:nth-child(1) {
  margin-left: 10px;
}
.card-sub-left ul li:nth-child(2) {
  margin-left: 32px;
}
.card-sub-left ul li:nth-child(3) {
  margin-left: 15px;
}
.card-sub-left ul li:nth-child(4) {
  margin-left: 40px;
}
.card-sub-left ul li:nth-child(5) {
  margin-left: 40px;
}
.card-sub-left ul li:nth-child(1) svg {
  fill: #5533ff;
  z-index: 1;
  /* position: absolute; */
  margin-left: -22px;
  margin-top: -3px;
  height: 22px;
  width: 22px;
}

.card-sub-left ul li:nth-child(2) svg {
  z-index: 1;
  fill: #607ef6;
  /* position: absolute; */
  margin-left: -19px;
  margin-top: -2px;
  height: 22px;
  width: 22px;
}
.card-sub-left ul li:nth-child(3) svg {
  height: 22px;
  width: 22px;
  z-index: 1;
  fill: #ff5353;
  /* position: absolute;
    margin-left: -18px;
    margin-top: -2px; */
}
.card-sub-left ul li:nth-child(4) svg {
  height: 25px;
  width: 26px;
  z-index: 1;
  fill: #609cf6;
  /* position: absolute; */
  margin-left: -28px;
  margin-top: -3px;
}
.card-sub-left ul li:nth-child(5) svg {
  height: 24px;
  width: 24px;
  z-index: 1;
  fill: #756fc2;
  /* position: absolute; */
  margin-left: -24px;
  margin-top: -4px;
  transform: scaleX(-1);
}

.card-sub-right {
  /* border: 1px solid #ffffff; */
  border-radius: 10px;
  background: #1c1f24;
  padding: 0px;
  display: flex;
  overflow: hidden;
}
.make_offer_holder {
  display: grid;
  /* margin-bottom: 25px; */
  margin-right: 2px;
}
.cart_holder {
  display: flex;
  /* align-items: center;
    justify-content: space-between; */
}
.make_offer {
  padding: 8px 5px 3px 5px !important;
  /* border-bottom: 2px solid #1C1F24; */
  /* margin: 0px 10px; */
  border-radius: 15px 7px 7px 7px;
}
.add_cart svg {
  fill: #fff !important;
  stroke-width: 0.4px;
  stroke: #ffffff;
}
.add_cart {
  /* font-size: 11px; */
  padding: 6px 8px !important;
  color: #67de83;
  float: inline-end;
  /* margin-left: 10px; */
  border-radius: 7px 15px 15px 7px;
}
.product-card-icon {
  border-top: 2px solid #1c1f24;
  border-radius: 7px 7px 7px 15px;
  padding: 7px 8px 4px 10px !important;
}
.product-data {
  /* display: flex; */
  display: block;
  /* justify-content: start; */
  text-wrap: nowrap;
  width: 100%;
  margin: 0px 11px 0px 5px;
  /* justify-content: start; */
  min-width: 90%;
}
.product-card-main:hover .product-data {
  min-width: 40%;
}
.product-data .product-data-right:nth-child(1) {
  margin: -3px 0px -5px 0px;
}
.product-data .product-data-right:nth-child(1) h4 {
  border: 2px solid #2f343d;
  background-color: transparent;
  color: #b6bdc8;
  font-family: "Inter", sans-serif;
}
.product-data .product-data-right:nth-child(2) h4 {
  font-family: "Inter", sans-serif;
  color: #b6bdc8;
  background: #2f343d;
  padding: 8px;
  margin-bottom: 3px;
}
.product-data-right span {
  font-family: "Inter", sans-serif;
  color: #565c67;
  text-align: left;
  font-size: 10px;
  font-weight: bold;
}
.product-data-right h4 {
  text-align: center;
  /* color: #858585; */
  /* margin-top: 10px; */
  border-radius: 10px;
  padding: 7px;
  font-size: 9px;
  font-weight: bold;
}
.product-card-badge {
  padding: 35px 22px;
  background-color: #1c1f24;
  margin-top: 25px;
  height: 95px;
  border-radius: 10px;
  margin-left: 5px;
}
.product-card-badge h6 {
  font-size: 17px;
  color: #b6bdc8;
}
.total_counter {
  margin-bottom: 40px;
  width: 89%;
}
.total_counter h4 {
  font-size: 25px;
  color: #b6bdc8;
  text-align: end;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #5533ff; /* Outer Green */
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.large {
  width: 140px;
  height: 140px;
  bottom: 0;
  right: 0;
}

.circle.medium {
  width: 60px;
  height: 60px;
  bottom: 0px;
  right: 130px;
}

.circle .inner {
  border-radius: 50%;
  background-color: #a896ff; /* Inner Light Green */
}

.circle.large .inner {
  width: 70px;
  height: 70px;
}

.circle.medium .inner {
  width: 30px;
  height: 30px;
}
